:root {
  --primaryTextColor: #6a6a6a;
  --primaryBorderColor: #cecdcd;
  --secondColor: #2a9dcc;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fredoka", sans-serif;
  color: var(--primaryTextColor);
}
